div.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 80px;
    position: fixed;
    top: 0;
}

div.navbar>div {
    height: 100%;
    display: flex;
    align-items: center;
}

div.navbar div.leftnav div.logoimage {
    height: 100%;
    padding: 15px;
}

div.navbar div.leftnav div.logoimage img {
    height: 100%;
    cursor: pointer;
}

div.navbar div.leftnav div.logoname {
    font-size: 30px;
    font-weight: 900;
    font-family: cursive;
    cursor: pointer;
}

div.rightnav img {
    height: 50%;
    margin-right: 20px;
    cursor: pointer;
}