div.post {
    width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 2px 3px 0px 0px rgb(199, 194, 194);
}

div.post div.posthead {
    width: 100%;
    padding: 10px 0px;
}

div.post div.posthead div.picname {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div.post div.posthead div.picname img {
    width: 40px;
    margin-right: 20px;
    border-radius: 100%;
    cursor: pointer;
}

div.postcontent p {
    padding: 10px;
}

div.postcontent input {
    border: 0px;
    width: 100%;
    padding: 10px;
    height: 100%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

div.image {
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
}

div.image img {
    width: 100%;
    height: 100%;
}

div.buttonbox {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

div.buttonbox button {
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #65676B;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.buttonbox button:hover {
    transition: 0.5s;
    background-color: rgb(247, 217, 217);
}

div.buttonbox button img {
    width: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 620px) {
    div.post {
        width: 90%;
    }
}