.background {
    height: 100vh;
    width: 100%;
    background-image: url("/src/components/assets/blue-liquid-marble-background-diy-flowing-texture-experimental-art.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    background-color: white;
}

.left {
    width: 20%;
    border-right: 1px solid black;
}

.right {
    width: 80%;
}

.row1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.row2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.signupform {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    padding: 0rem 20px;
    overflow: hidden;
    margin-top: 20px;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 40px;
}

.input-fieldsignup {
    width: 45%;
    margin: 10px 0;
    height: 40px;
}

.inpsignup {
    width: 60%;
    background: none;
    outline: none;
    border-bottom: 3px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    width: 100%;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.avator {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    margin: auto;
}

.btnsignup {
    width: 150px;
    border: none;
    height: 49px;
    background-color: #00A8F3;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.loginbtnsign {
    width: 100%;
    height: 170px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.signupbtns {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    background-color: #00A8F3;
    height: 170px;
    color: white;
    cursor: pointer;

}

.btnsignup:hover {
    background-color: #46cac4;
}

.error {
    width: 100%;
    color: red;
    /* font-size: 12px; */
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.navlog {
    background-color: transparent;
    border: none;
    color: #00A8F3;
    font-size: 15px;
    cursor: pointer;
}

.already {
    text-align: left;
}


@media screen and (min-width: 320px) and (max-width: 760px) {
    .signup {
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .left {
        width: 100%;
        display: flex;
    }

    .right {
        text-align: center;
        width: 100%;
    }

    .loginbtnsign {
        width: 50%;
        background-color: white;
        border: none;
        height: 100px;
    }

    .signupbtns {
        width: 50%;
        border: none;
        border-top: 1px solid black;
        background-color: #00A8F3;
        height: 100px;
    }

    .row1 {
        flex-direction: column;
    }

    .row2 {
        flex-direction: column;
    }

    .input-fieldsignup {
        width: 90%;
        margin: 10px 0;
        height: 55px;
    }

    .btnsignup {
        margin-left: 0px;
    }
}