* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #001b3d, #009fd4, #001b3d, #009fd4);
  background-size: 400% 400%;
  animation: change 20s ease-in-out infinite;
  position: relative;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(720deg);
  }

  75% {
    transform: rotate(1080deg);
  }

  100% {
    transform: rotate(1440deg);
  }
}

@media screen and (max-width: 620px) {
  .loader {
    margin-top: 10px;
  }
}
